<!DOCTYPE html>
<head>

    <title>Contact</title>
</head>

<body>
    {{> header}}
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus aut dolorem fugiat dolores consequuntur cum hic.
        In architecto voluptates illo.</p>
</body>
{{> footer}}
</html>